<style>
  html {
    font-family: "Segoe UI", "Lucidia Grande", sans-serif;
    font-size: 100%;
    line-height: 1.4;
    color: #657b83;
    background-color: #eee8d5;
  }

  body {
    margin: 2rem auto;
    padding: 0 2rem 1.4rem;
    max-width: 40rem;
    background-color: #fdf6e3;
    border: 1px solid #93a1a1;
  }

  p,
  ul,
  ol {
    font-size: 1.25rem;
  }

  p {
    margin: 1rem 0;
  }

  body > ul,
  body > ol {
    margin: 1rem 0;
  }

  strong,
  li::marker {
    color: #586e75;
  }

  em {
    color: #cb4b16;
  }

  a {
    color: #d33682;
  }

  h1 {
    font-size: 3.43rem;
    color: #268bd2;
  }

  h2 {
    font-size: 2.45rem;
    color: #859900;
  }

  h3 {
    font-size: 1.75rem;
    color: #b58900;
  }

  h1,
  h2,
  h3 {
    margin-top: 1.4rem;
    margin-bottom: 1rem;
    border-bottom: 1px dashed #93a1a1;
  }

  h1.title {
    margin-top: 1rem;
  }
  
  nav > ul {
    border-bottom: 4px double #93a1a1;
    padding-bottom: 1.4rem;
  }
</style>
